<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhoebeMail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PhoebeMail.Properties.Settings>
            <setting name="Subject" serializeAs="String">
                <value>Re:Re: Audio Visual Equipment</value>
            </setting>
            <setting name="SelectedAccountIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Body" serializeAs="String">
                <value />
            </setting>
        </PhoebeMail.Properties.Settings>
    </userSettings>
</configuration>